html, body {
	height: 100%;
	width: 100%;
    // background-color: $dark-blue;
    // background-color: black;
    // background-color: white;
    background-image: url("../app/dist/assets/images/gaming-pattern.png");
}

.container-fluid {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.homePageLink {
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
    line-height: 155px;
    margin-left: 60px;
    font-weight: 800;
	
    a {
    	color: black;
    	text-decoration: none;
        transition: all 0.2s ease-out;
        p {
            visibility: hidden;
            font-size: 23px;
            line-height: 0;
            font-weight: none;
            font-family: 'Playfair Display', serif;
            margin-top: -13px;
        }
        &:hover {
            p {
                visibility: visible;
            }

        }
    }
	&.not-hovered {
        a {
           color: $accent-color;  
           transition: all 0.2s ease-in;
        }
    }
}
